<h1>Enter Your Login Credentials</h1><br><br><br>

<form method="POST" action="/login">
    <input type="email" name="email" placeholder="Enter your email" required><br><br>
    <input type="password" name="password" placeholder="Enter your password" required><br><br>
    <input type="submit" value="Log In">
</form>