<h1>Create An Account With Us</h1><br><br>

<form method="POST" action="/clients">
    Name: <input type="text" name="name" required><br><br>
    Email: <input type="email" name="email" required><br><br>
    Create Password: <input type="password" name="password" required><br><br><br>
    <input type="submit" value="Sign Up!">
</form>