<h1>Create An Account With Us</h1>

<form method="POST" action="/clients">
    Name: <input type="text" name="name" placeholder="Please enter your name" required><br><br>
    Email: <input type="email" name="email" placeholder="Please enter your email" required><br><br>
    Create Password: <input type="password" name="password" placeholder="Create your password" required><br><br><br>
    <input type="submit" value="Sign Up!">
</form>