<h1>Make a Deposit!</h1><br><br>

<form method="POST" action="/accounts/<%= @account.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    Deposit Amount: <input type="number" name="balance" value=>
    <input type="submit" value="Deposit!">
</form>